@import url(reset.css);

@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,800);

html {box-sizing: border-box}
*, *::before, *::after {box-sizing: inherit}

img{
    max-width: 100%;
}

/*TYPOS */

body {
    font-family: "Open-Sans", sans-serif;
}

h1{
	font-family: "Lora";
	font-size: 3.000em;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 30px;

}

h2{
	font-family: "Lora";
	font-size: 2em;
	text-align: center;
	color : #046380;
	padding-bottom: 30px;
}

h3{
	font-family: "Lora";
	font-size: 1.5em;
	text-align: left;
	color : #FF931C;
	padding-bottom: 15px;

}

p{
	font-size: 0.9em;
}


/* LAYOUT */
body {
    height: 100vh;
}

#sommaire{
	width: 15%;
	min-width: 250px;
	height: 100%;
	background-color: #046380;
	padding: 20px;
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
}

#avatar{
	font-family: "Lora";
	font-weight: 400;
	color:#FFFFFF;
	padding-bottom: 90px;
	
}

#avatar img{
	border-radius: 50%;
	border: solid 3px #FFFFFF;
	margin-bottom: 30px;
	margin-top: 30px;
	width: 75%;
}

a{
	text-decoration: none;
	color: #FFFFFF;
	text-transform: uppercase;
}


main{
	float: right;
	width: 100%;
	padding-left: 250px;

}

#slider{
	margin-bottom: 30px;
}

#news{
	width: 90%;
	margin: 0 auto;
}

.article{
	width: 50%;
	float: left;
	padding: 40px;
	text-align: justify;
}

form{
	padding: 40px;
}

input{
	margin-bottom: 20px;
}